.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 16px;
  background: #030406;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.Bar-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.Bar-item a {
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.Bar-item a:hover {
  color: #5a2ea6;
  }
